# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
temp_*.pdf

# Node
node_modules/
dist/
dist-ssr/
*.local

# IDE
.vscode/
.idea/

# Backend temporary files
backend/server_log.txt
backend/temp_*.pdf
